In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("./input"))

# Any results you write to the current directory are saved as output.

['gender_submission.csv', 'test.csv', 'train.csv']

In [3]:
train = pd.read_csv('./input/train.csv')
test = pd.read_csv('./input/test.csv')

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# Not considering Age as it has null values
X_train = train[['Pclass', 'Sex', 'SibSp', 'Parch']]
y_train = train['Survived']
X_test = test[['Pclass', 'Sex', 'SibSp', 'Parch']]

In [6]:
X_train.shape

(891, 4)

In [7]:
y_train.shape

(891,)

In [8]:
# convert categorical variable 'sex' to numeric
X_train['Sex_num'] = X_train['Sex'].apply(lambda x : 1 if x == "male" else 0)
X_test['Sex_num'] = X_test['Sex'].apply(lambda x : 1 if x == "male" else 0)

C:\Users\Himangshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Himangshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
X_test.head()

   Pclass     Sex  SibSp  Parch  Sex_num
0       3    male      0      0        1
1       3  female      1      0        0
2       2    male      0      0        1
3       3    male      0      0        1
4       3  female      1      1        0

In [10]:
X_train.drop(columns=['Sex'], axis=1, inplace=True)
X_train.head()
X_test.drop(columns=['Sex'], axis=1, inplace=True)
X_test.head()

C:\Users\Himangshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Himangshu\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Pclass  SibSp  Parch  Sex_num
0       3      0      0        1
1       3      1      0        0
2       2      0      0        1
3       3      0      0        1
4       3      1      1        0

In [11]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(
#X_train.isnull()
null_data = X_train[X_train.isnull().any(axis=1)]
null_data

Empty DataFrame
Columns: [Pclass, SibSp, Parch, Sex_num]
Index: []

In [12]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100)

model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [12]:
predictions = model.predict(X_test)

In [13]:
predictionsDF = pd.DataFrame({'PassengerId' : test['PassengerId'], 'Survived' : predictions})

In [14]:
predictionsDF.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [15]:
predictionsDF.to_csv("titanic_submission.csv", index=False)